duelo/.env
.vercel
duelo/realtime.rules.json
duelo/firestore.rules
/dataconnect
/.firebase
duelo/src/dataconnect-generated
duelo/src/firebase
duelo/src/firebaseConfig
.firebaserc
dataconnect-debug.log
firebase-debug.log
pglite-debug.log
duelo/.github
duelo/.specify